@{
    Layout = null;
}

@model ToDoEf.Models.ToDoGroup
<html>
    <head>
        <title>Create new ToDo task group</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    </head>
    <body>
        <h2>Create new task group</h2>
        <form asp-action="Create">
            <table>
                <tr>
                <th>
                    <label asp-for="Name" class="control-label">New task group name</label>
                </th>
                <td>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </td>
            </table>
        <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    <div>
        <a asp-action="Index">Return to HomePage</a>
    </div>
    </body>
</html>